@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
}


:root {
    --color-black: #0B0C0C;
    --color-bg: #288460;
    --color-light: #E9EAEC;
    --color-yellow: #FBE134;
    --color-red: #FA462A;
    --color-light: rgba(233, 234, 236, 0.8);

    --transition: all 0.4s ease;

    --container-width-lg: 75%;
	--container-width-md: 86%;
	--container-width-sm: 90%;

    --font-size-sm-h1: 1rem; 
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--color-black);
    color: var(--color-light);
    line-height: 1.7;
}

.img1 {
    height: auto;
    width: 500px;
    position: absolute;
    right: 0;
    top: 2rem;
    overflow: hidden;
}

.svg1 {
    height: auto;
    width: 450px;
    position: absolute;
    top: 2rem;
    right: 8rem;
    z-index: -10;
}

.container {
	width: var(--container-width-lg);
	margin: 2rem auto 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    color: var(--color-light);
    margin-bottom: 3rem;
}

.yellow-light {
    color: var(--color-yellow);
}

a {
    color: var(--color-bg);
    transition: var(--transition);
}

a:hover {
    color: var(--color-light);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-yellow);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-yellow);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-bg);
    color: var(--color-black);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-yellow);
    color: var(--color-black);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.text-yellow {
    color: var(--color-yellow);
}

/* --------------------media queries tab-----------------*/
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }

    .svg1 {
        width: 400px;
        position: absolute;
        top: 31rem;
        right: 8rem;
    }
}

/* --------------------media queries mobile-----------------*/
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }

    .svg1 {
        width: 200px;
        position: absolute;
        top: -2rem;
        right: -4rem;
    }
}